html {
    position: relative;
    background-color: #191b19;
    color: #d2d3d2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-animation-name: html;
    -webkit-animation-duration: 9s;
    animation-name: html;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes html{
    0% {background-color: black;}
    50% {background-color: rgb(11, 15, 252);}
    100% {background-color: black;}
}
@keyframes html{
    0% {background-color: black;}
    50% {background-color: rgb(11, 15, 252);}
    100% {background-color: black;}
}

#header {
    padding: 40px;
    margin-bottom: 8px;
    text-align: right;
    color: black;
    background-color: yellow;
    -webkit-animation-name: header-animation;
    -webkit-animation-duration: 9s;
    animation-name: header-animation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes header-animation{
    0% {background-color: yellow;}
    50% {background-color: rgb(61, 240, 180);}
    100% {background-color: yellow;}
}
@keyframes header-animation{
    0% {background-color: yellow;}
    50% {background-color: rgb(61, 240, 180);}
    100% {background-color: yellow;}
}

#header p{
    text-align: center;
}



#navigation {
    position: relative;
    color: white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    background: gray;


}



#navigation ul {
    list-style-type: none;
}




#formspree {
    position: relative;
    padding: 5px;
    background-color: chocolate;
    margin: 5px;
    display: inline-block;

}

#resume {
    padding-top: 5px;
    position: relative;
}

