html {
    background-color: #191b19;
    color: #d2d3d2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    padding: 40px;
    margin-bottom: 8px;
    text-align: right;
    color: black;
    background-color: yellow;
    animation-name: inherit;
    animation-duration: 4s;
}
@keyframes {
    from {background-color: yellow;}
    to {background-color: red;}
}



#navigation {
    color: white;
    width: 15%;
    padding: 10px;
    
    text-align: left;
    background: gray;


}



#navigation ul {
    list-style-type: none;
}

#aboutme {
    padding: 5px;
   text-align: center;
    background-color: #72b0da;
    color: #1a1b19;
    margin-bottom: 8px;
}

#aboutme h2{
    text-align: center;
}

