html {
    background-color: #191b19;
    background-image: url(../images/nature.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color: #d2d3d2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header {
    padding: 40px;
    margin-bottom: 8px;
    text-align: right;
    color: black;
    background-color: yellow;
    -webkit-animation-name: header-animation;
    -webkit-animation-duration: 9s;
    animation-name: header-animation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes header-animation{
    0% {background-color: yellow;}
    50% {background-color: red;}
    100% {background-color: yellow;}
}
@keyframes header-animation{
    0% {background-color: yellow;}
    50% {background-color: red;}
    100% {background-color: yellow;}
}



#navigation {
    color: white;
    width: 15%;
    padding: 10px;
    
    text-align: left;
    background: gray;


}



#navigation ul {
    list-style-type: none;
}




#formspree {
    position: relative;
    padding: 5px;
    background-color: chocolate;
    margin: 5px;

}
